<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Staic</title>
	<link href="http://node.com:8080/express/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="Index"></div>
<script src="http://node.com:8080/express/js/react.js"></script>
<script src="http://node.com:8080/express/js/react-dom.js"></script>
<script src="http://node.com:8080/express/js/browser.min.js"></script>
<script src="http://node.com:8080/express/js/jquery-1.12.0.min.js"></script>
<script type="text/babel" src="http://node.com:8080/express/views/index_c_es6.js"></script>
</body>
</html>